<ion-header>

    <button ion-fixed style="margin-top:-5px;" ion-button clear (click)="goBack()" icon-only>
        <ion-icon color="light" name='md-arrow-round-back'></ion-icon>
        </button>
    <ion-navbar>

        <ion-title text-center>
            Statistici
        </ion-title>

    </ion-navbar>

</ion-header>


<ion-content no-padding>

    <button full ion-button full (click)="chart11()">
        {{valori[10].titlu}}
        </button>

    <div [hidden]="hide11" text-center no-padding>
        <p style=" color:#2e2f92;" text-center>
            <b>  data : {{valori[10].ziua}}</b>
        </p>
        <canvas #doughnutCanvas11></canvas>
        <ion-row style="background-color:#2e2f92;   color:white;">
            <ion-col *ngFor="let data of valori[10].nume">
                <b>  {{data}}</b>
            </ion-col>
        </ion-row>
        <ion-row style="background-color:#2e2f92;  color:white;">
            <ion-col *ngFor="let data of valori[10].valori">
                <b> {{data}}</b>
            </ion-col>
        </ion-row>
    </div>
    <button full ion-button full (click)="chart1()">
        {{valori[0].titlu}}
        </button>

    <div [hidden]="hide1" text-center no-padding>
        <p style=" color:#2e2f92;" text-center>
            <b>  data : {{valori[0].ziua}}</b>
        </p>
        <canvas #doughnutCanvas1></canvas>
        <ion-row style="background-color:#2e2f92;   color:white;">
            <ion-col *ngFor="let data of valori[0].nume">
                <b>  {{data}}</b>
            </ion-col>
        </ion-row>
        <ion-row style="background-color:#2e2f92;  color:white;">
            <ion-col *ngFor="let data of valori[0].valori">
                <b> {{data}}</b>
            </ion-col>
        </ion-row>
    </div>
    <button ion-button full (click)="chart2()">
        {{valori[1].titlu}}
        </button>
    <div text-center [hidden]="hide2" no-padding>
        <p style=" color:#2e2f92;" text-center>
            <b> data : {{valori[1].ziua}}</b>
        </p>
        <canvas #doughnutCanvas2></canvas>
        <ion-row style="background-color:#2e2f92;   color:white;">
            <ion-col *ngFor="let data of valori[1].nume">
                <b>  {{data}}</b>
            </ion-col>
        </ion-row>
        <ion-row style="background-color:#2e2f92;  color:white;">
            <ion-col *ngFor="let data of valori[1].valori">
                <b> {{data}}</b>
            </ion-col>
        </ion-row>
    </div>
    <button ion-button full (click)="chart3()">
        {{valori[2].titlu}}
        </button>
    <div text-center [hidden]="hide3" no-padding>
        <p style=" color:#2e2f92;" text-center>
            <b>   data : {{valori[2].ziua}}</b>
        </p>
        <canvas #doughnutCanvas3></canvas>
        <ion-row style="background-color:#2e2f92;   color:white;">
            <ion-col *ngFor="let data of valori[2].nume">
                <b>  {{data}}</b>
            </ion-col>
        </ion-row>
        <ion-row style="background-color:#2e2f92;  color:white;">
            <ion-col *ngFor="let data of valori[2].valori">
                <b> {{data}}</b>
            </ion-col>
        </ion-row>
    </div>
    <button ion-button full (click)="chart4()">
        {{valori[3].titlu}}
        </button>
    <div text-center [hidden]="hide4" no-padding>
        <p style=" color:#2e2f92;" text-center>
            <b> data : {{valori[3].ziua}}</b>
        </p>
        <canvas #doughnutCanvas4></canvas>
        <ion-row style="background-color:#2e2f92;   color:white;">
            <ion-col *ngFor="let data of valori[3].nume">
                <b>  {{data}}</b>
            </ion-col>
        </ion-row>
        <ion-row style="background-color:#2e2f92;  color:white;">
            <ion-col *ngFor="let data of valori[3].valori">
                <b> {{data}}</b>
            </ion-col>
        </ion-row>
    </div>
    <button ion-button full (click)="chart5()">
        {{valori[4].titlu}}
        </button>

    <div text-center [hidden]="hide5" no-padding>
        <p style=" color:#2e2f92;" text-center>
            <b>  data : {{valori[4].ziua}}</b>
        </p>
        <canvas #doughnutCanvas5></canvas>
        <ion-row style="background-color:#2e2f92;   color:white;">
            <ion-col *ngFor="let data of valori[4].nume">
                <b>  {{data}}</b>
            </ion-col>
        </ion-row>
        <ion-row style="background-color:#2e2f92;  color:white;">
            <ion-col *ngFor="let data of valori[4].valori">
                <b> {{data}}</b>
            </ion-col>
        </ion-row>
    </div>
    <button ion-button full (click)="chart6()">
        {{valori[5].titlu}}
        </button>

    <div text-center [hidden]="hide6" no-padding>
        <p style=" color:#2e2f92;" text-center>
            <b>  data : {{valori[5].ziua}}</b>
        </p>
        <canvas #doughnutCanvas6></canvas>
        <ion-row style="background-color:#2e2f92;   color:white;">
            <ion-col *ngFor="let data of valori[5].nume">
                <b>  {{data}}</b>
            </ion-col>
        </ion-row>
        <ion-row style="background-color:#2e2f92;  color:white;">
            <ion-col *ngFor="let data of valori[5].valori">
                <b> {{data}}</b>
            </ion-col>
        </ion-row>
    </div>

    <button ion-button full (click)="chart7()">
        {{valori[6].titlu}}
        </button>
    <div text-center [hidden]="hide7" no-padding>
        <p style=" color:#2e2f92;" text-center>
            <b>  data : {{valori[6].ziua}}</b>
        </p>
        <canvas #doughnutCanvas7></canvas>
        <ion-row style="background-color:#2e2f92;   color:white;">
            <ion-col *ngFor="let data of valori[6].nume">
                <b>  {{data}}</b>
            </ion-col>
        </ion-row>
        <ion-row style="background-color:#2e2f92;  color:white;">
            <ion-col *ngFor="let data of valori[6].valori">
                <b> {{data}}</b>
            </ion-col>
        </ion-row>
    </div>

    <button ion-button full (click)="chart8()">
        {{valori[7].titlu}}
        </button>
    <div text-center [hidden]="hide8" no-padding>
        <p style=" color:#2e2f92;" text-center>
            <b>  data : {{valori[7].ziua}}</b>
        </p>
        <canvas #doughnutCanvas8></canvas>
        <ion-row style="background-color:#2e2f92;   color:white;">
            <ion-col *ngFor="let data of valori[7].nume">
                <b>  {{data}}</b>
            </ion-col>
        </ion-row>
        <ion-row style="background-color:#2e2f92;  color:white;">
            <ion-col *ngFor="let data of valori[7].valori">
                <b> {{data}}</b>
            </ion-col>
        </ion-row>
    </div>

    <button ion-button full (click)="chart9()">
        {{valori[8].titlu}}
        </button>
    <div text-center [hidden]="hide9" no-padding>
        <p style=" color:#2e2f92;" text-center>
            <b>  data : {{valori[8].ziua}}</b>
        </p>
        <canvas #doughnutCanvas9></canvas>
        <ion-row style="background-color:#2e2f92;   color:white;">
            <ion-col *ngFor="let data of valori[8].nume">
                <b>  {{data}}</b>
            </ion-col>
        </ion-row>
        <ion-row style="background-color:#2e2f92;  color:white;">
            <ion-col *ngFor="let data of valori[8].valori">
                <b> {{data}}</b>
            </ion-col>
        </ion-row>
    </div>
    <button ion-button full (click)="chart10()">
        {{valori[9].titlu}}
        </button>

    <div text-center [hidden]="hide10" no-padding>
        <p style=" color:#2e2f92;" text-center>
            <b>  data: {{valori[9].ziua}}</b>
        </p>
        <canvas #doughnutCanvas10></canvas>
        <ion-row style="background-color:#2e2f92;   color:white;">
            <ion-col *ngFor="let data of valori[9].nume">
                <b>  {{data}}</b>
            </ion-col>
        </ion-row>
        <ion-row style="background-color:#2e2f92;  color:white;">
            <ion-col *ngFor="let data of valori[9].valori">
                <b> {{data}}</b>
            </ion-col>
        </ion-row>
    </div>



    <!--<ion-card hidden no-padding>
        <ion-card-header>
            Line Chart
        </ion-card-header>
        <canvas #lineCanvas></canvas>
    </ion-card>
    <ion-card hidden no-padding>
        <ion-card-header>
            Bar Chart
        </ion-card-header>
        <canvas #barCanvas></canvas>
    </ion-card>-->
</ion-content>