<ion-content elastic-header>
    <!--<div class="background-image">
        <img style="border-radius:50%; width:50%;  margin-left:25%;" src="http://placehold.it/200x200" />
    </div>
    <div no-padding class="main-content">-->
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-buttons *ngIf="info.facultate == dataTabs.message.note && info.right == 1">
        <button ion-button full (click)="addNew()">Add new  <ion-icon name="add"></ion-icon></button>
    </ion-buttons>
    <ion-list no-padding style="margin:0;" *ngFor="let post of posts">
        <ion-card no-padding fullscreen>
            <ion-item>
                <ion-avatar item-left>
                    <img src="http://placehold.it/200x200" />
                </ion-avatar>
                <h2 style="white-space: pre-line;" text-wrap> {{dataTabs.message.note}}</h2>
                <p>{{post.data}} </p>
            </ion-item>

            <img *ngIf="post.icon" style="width:100%" src="http://atestate-inf.tk/ghidtest/upload/{{post.icon}}" />
            <br>
            <h1 style="white-space: pre-line;" text-wrap>{{post.title}}</h1>
            <br>
            <p padding-horizontal text-justify style="white-space: pre-line;" text-wrap [innerHTML]="post.text">
            </p>
            <ion-row>
                <ion-col tappable *ngIf="info.facultate == dataTabs.message.note && info.right == 1" (click)="presentProfileModal(post)" width-50 text-left>
                    <button ion-button outline full clear icon-left text-capitalize>
          <ion-icon name='create'></ion-icon>
          Edit 
        </button>
                </ion-col>
                <ion-col tappable *ngIf="info.facultate == dataTabs.message.note && info.right == 1" (click)="deleteProfil(post.id)" width-50 text-center>
                    <button ion-button outline full clear icon-left text-capitalize>
          <ion-icon  name="close-circle"></ion-icon>
          Remove 
        </button>
                </ion-col>
                <ion-col tappable *ngIf="info.facultate == dataTabs.message.note && info.right == 0" text-center>
                    <button text-capitalize ion-button clear small color="secondary" icon-left>
          <ion-icon name='share-alt' ></ion-icon>
          Share
        </button>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-list>
    <!--</div>-->
</ion-content>