<ion-content elastic-header>
    <!--<div class="background-image">
        <img style="border-radius:50%; width:50%;  margin-left:25%;" src="http://placehold.it/200x200" />
    </div>
    <div no-padding class="main-content">-->
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-buttons *ngIf="info.facultate == dataTabs.message.note && info.right == 1">
        <button ion-button full (click)="addNew()">Adauga postare  <ion-icon name="add"></ion-icon></button>
    </ion-buttons>
    <ion-list no-padding style="margin:0;" *ngFor="let post of posts">
        <ion-card no-padding fullscreen>
            <ion-card-content (click)='showContent(post)'>
                <ion-row>
                    <ion-col>
                        <h2 style="white-space: pre;font-size:15.5px;" text-wrap> <b>&nbsp;&nbsp;{{post.title}} </b></h2>
                        <p style="position:bottom;font-size:12px;" text-left>{{post.data}} </p>

                    </ion-col>
                </ion-row>
                <ion-row>

                    <ion-col>
                        <!--<p padding-horizontal text-justify style="white-space: pre-line;" text-wrap [innerHTML]="post.text"></p>-->
                        <!--<p text-left text-wrap style="white-space: normal;">
                            {{post.preview}}
                        </p>-->

                        <!--<p text-left style="white-space: pre-line; font-size:13.5px;" text-wrap [innerHTML]="post.preview"></p>-->

                    </ion-col>
                    <ion-col *ngIf="post.icon" col-12>
                        <img *ngIf="post.icon" src="http://hainedefirmasj.com/placesforme/upload/{{post.icon}}" />

                    </ion-col>

                </ion-row>
            </ion-card-content>
            <ion-row>
                <ion-col tappable *ngIf="info.facultate == dataTabs.message.note && info.right == 1" (click)="presentProfileModal(post)" width-50 text-left>
                    <button ion-button outline full clear icon-left text-capitalize>
                    <ion-icon name='create'></ion-icon>
                    Editeaza
                    </button>
                </ion-col>
                <ion-col tappable *ngIf="info.facultate == dataTabs.message.note && info.right == 1" (click)="deleteProfil(post.id)" width-50 text-center>
                    <button ion-button outline full clear icon-left text-capitalize>
                    <ion-icon  name="close-circle"></ion-icon>
                    Sterge
                    </button>
                </ion-col>
                <!--<ion-col tappable *ngIf="info.facultate == dataTabs.message.note && (info.right == 0) || (!info.right)" text-center>
                    <button text-capitalize ion-button clear small color="secondary" icon-left>
                    <ion-icon name='share-alt' ></ion-icon>
                    Share
                    </button>
                </ion-col>-->
            </ion-row>
        </ion-card>
    </ion-list>
    <!--</div>-->
</ion-content>