<ion-content>
    <ion-list *ngFor="let data of conducere">
        <ion-card>
            <ion-row *ngIf="data.image">
                <ion-col col-4>
                </ion-col>
                <ion-col col-4>
                    <img src="http://193.226.9.153/images//{{data.image}}" imageViewer />
                </ion-col>
            </ion-row>
            <h2 *ngIf="data.functie" text-center text-wrap style="white-space: normal;"><b></b>{{data.functie}}</h2>
            <h4 *ngIf="data.nume" text-center text-wrap style="white-space: normal;"><b></b>{{data.nume}}</h4>
            <div text-center>
                <button (click)='toggle(data.nume)' clear ion-button icon-only>
                <ion-icon [name]="!data.show ? 'ios-arrow-dropdown-outline' : 'ios-arrow-dropup-outline'"></ion-icon>
            </button>
            </div>
            <div *ngIf="data.show">
                <p *ngIf="data.telefon != ''" text-center text-wrap style="white-space: normal;"><b>Telefon: </b>{{data.telefon}}</p>
                <p *ngIf="data.email" text-center text-wrap style="white-space: normal;"><b>E-mail: </b>{{data.email}}</p>
            </div>
        </ion-card>
    </ion-list>
</ion-content>