<ion-header>

    <button ion-fixed style="margin:0px; position:absolute;" ion-button clear (click)="goBack()" icon-only>
        <ion-icon color="light" name='md-arrow-round-back'></ion-icon>
        </button>
    <ion-navbar>

        <ion-title text-center>

        </ion-title>

    </ion-navbar>

</ion-header>
<ion-content>

    <ion-card>

        <img *ngIf="item.imageLink" style="width:100%; height:200px; position:relative;" src="http://193.226.9.153/images/{{item.imageLink}}" imageViewer/>
        <img *ngIf="item.icon" style="width:100%;  position:relative;" src="http://hainedefirmasj.com/placesforme/upload/{{item.icon}}" imageViewer/>


        <h2 text-center><b>{{item.title}}</b></h2><br>
        <div *ngIf="item.content" padding-horizontal text-justify style="white-space: pre-line;
    text-align: left;
   " [innerHTML]="item.content"> </div>
        <div *ngIf="item.text" padding-horizontal text-justify style="white-space: pre-line;
    text-align: left;
   " [innerHTML]="item.text"> </div>

    </ion-card>
</ion-content>