<ion-header>
  <button ion-fixed style="margin-top:3%; position:absolute;" ion-button clear (click)="goBack()" icon-only>
    <ion-icon color="light" name='md-arrow-round-back'></ion-icon>
  </button>
  <ion-navbar>
    <ion-title text-center>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <img *ngIf="item.icon" style="width:100%;position:relative;" src="http://193.226.9.153/upload/{{item.icon}}" imageViewer/>
    <div text-center *ngIf="item.imageLink">
      <img src="http://193.226.9.153/images/{{item.imageLink}}">
    </div>
    <!-- <img *ngIf="item.url" style="width:100%;  position:relative;" src="{{item.url}}" imageViewer/> -->
    <ion-card-title text-left padding-horizontal>
      <b>{{item.title}}</b>
    </ion-card-title>
    <br>
    <p *ngIf="item.data" style="text-align:right" padding-horizontal>
      <b>{{item.data}}</b>
      <br>
    </p>
    <div *ngIf="item.content" padding-horizontal [ngStyle]="cssProperties" [innerHTML]="item.content"> </div>
    <div *ngIf="item.text" padding-horizontal [ngStyle]="cssProperties" [innerHTML]="item.text"></div>
  </ion-card>
</ion-content>
