<!--
  Generated template for the DescriereFacultate page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content>
    <ion-card>
        <!--<ion-card-header text-center>
        </ion-card-header>-->

        <div *ngIf="descriere[1]">
            <img src="http://193.226.9.153/images/{{descriere[1]}}" imageViewer/>
        </div>
        <p padding text-center text-wrap style="white-space: normal;">
            {{descriere[0]}}
        </p>
    </ion-card>
    <ion-card *ngIf="conducere != ''">
        <!--<ion-card-header text-center>
            <h1> Conducere </h1>
        </ion-card-header>-->
        <!--<ion-list>

            <ion-item *ngFor="let data of conducere">
                <ion-row *ngIf="data.image != ''">
                    <ion-col col-5>
                    </ion-col>
                    <ion-col col-3>
                        <img src="http://hainedefirmasj.com/images/{{data.image}}">
                    </ion-col>
                    <ion-col col-4>
                    </ion-col>
                </ion-row>
                <h2 text-center text-wrap style="white-space: normal;"><b></b>{{data.functie}}</h2>
                <h4 text-center text-wrap style="white-space: normal;"><b></b>{{data.nume}}</h4>
                <p *ngIf="data.telefon != ''" text-center text-wrap style="white-space: normal;"><b>Telefon: </b>{{data.telefon}}</p>
                <p text-center text-wrap style="white-space: normal;"><b>E-mail: </b>{{data.email}}</p>
                <hr>

            </ion-item>
        </ion-list>-->
    </ion-card>

</ion-content>