<ion-header>
    <ion-navbar hideBackButton>
        <ion-title tappable (click)="navigateToSecondPageBack()">
            <ion-icon name="arrow-round-back"> </ion-icon> {{facultate}}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div *ngIf="!isBrowser" class="profile-image-wrapper" (click)="presentActionSheet()" tappable>
        <div class="profile-image-placeholder">
            <ion-icon name="add"></ion-icon>
            <div>
                Adauga imagine
            </div>
        </div>
    </div>
    <div text-center>
        <label ion-button for="fileInput">Upload image
            <input *ngIf="isBrowser" type="file" id="fileInput" style="display:none" #fileInput (change)="fileChange($event)"
                placeholder="Upload file">
        </label>
    </div>
    <div text-center>
        <label ion-button for="fileVideoInput">Upload video
            <input *ngIf="isBrowser" type="file" id="fileVideoInput" style="display:none" #fileVideoInput (change)="uploadVideo($event)"
                placeholder="Upload file">
        </label>
    </div>

    <h4 style="color:green; text-align: center" *ngIf="uploadedWithSuccess == 1">
        Imagine uploadata cu success !
    </h4>
    <h4 style="color:green; text-align: center" *ngIf="videoUploadedWithSuccess == 1">
        Video uploadat cu success !
    </h4>
    <h4 style="color:red; text-align: center" *ngIf="uploadedWithSuccess == -1 || videoUploadedWithSuccess == -1">
        {{uploadedMessage}}
    </h4>

    <img *ngIf="id[0].icon" class="profile-image-wrapper" src="{{correctPath}}" style="width: 100%" [hidden]="correctPath === null">
    <img *ngIf="id[0].icon" [hidden]="correctPath != null" class="profile-image-wrapper" src="http://193.226.9.153/upload/{{id[0].icon}}"
        style="width: 100%">

    <button *ngIf="!isBrowser" ion-button block icon-left (click)="uploadImage()" [disabled]="correctPath === null">
        <ion-icon name="cloud-upload"></ion-icon>Upload
    </button>
    <form [formGroup]="myForm" (ngSubmit)="logForm()">
        <ion-item>
            <ion-label color="primary" floating>Titlu</ion-label>
            <ion-textarea *ngIf="!id[0].title" formControlName="title"></ion-textarea>
            <ion-textarea *ngIf="id[0].title" value="{{id[0].title}}" formControlName="title"></ion-textarea>
        </ion-item>
    </form>
    <ckeditor [(ngModel)]="ckeditorContent" [readonly]="false" (change)="onChange($event, myForm.value)">
    </ckeditor>

    <ion-item *ngIf="isNewPost">
        <ion-toggle [(ngModel)]="enableNotifications"></ion-toggle>
        <ion-label class="label"> Trimite notificari </ion-label>
        <ion-icon name='notifications' item-start></ion-icon>
    </ion-item>

    <button *ngIf="idd" ion-button block (click)="navigateToSecondPage()">Finalizeaza postarea</button>
    <button *ngIf="id && !idd" ion-button block (click)="navigateToSecondPage()">Finalizeaza editarea</button>
</ion-content>