<ion-header>
    <ion-navbar hideBackButton>
        <ion-title tappable (click)="navigateToSecondPageBack()">
            <ion-icon name="arrow-round-back"> </ion-icon> {{facultate}}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div *ngIf="!isBrowser" class="profile-image-wrapper" (click)="presentActionSheet()" tappable>
        <div class="profile-image-placeholder">
            <ion-icon name="add"></ion-icon>
            <div>
                Add image
            </div>
        </div>
    </div>
    <div text-center><input *ngIf="isBrowser" type="file" #fileInput (change)="fileChange($event)" placeholder="Upload file"></div>
    <img *ngIf="id[0].icon" class="profile-image-wrapper" src="{{correctPath}}" style="width: 100%" [hidden]="correctPath === null">
    <img *ngIf="id[0].icon" [hidden]="correctPath != null" class="profile-image-wrapper" src="http://193.226.9.153/upload/{{id[0].icon}}" style="width: 100%">
    <button *ngIf="!isBrowser" ion-button block icon-left (click)="uploadImage()" [disabled]="correctPath === null">
        <ion-icon name="cloud-upload"></ion-icon>Upload
    </button>
    <form [formGroup]="myForm" (ngSubmit)="logForm()">
        <ion-item>
            <ion-label color="primary" floating>Titlu</ion-label>
            <ion-input *ngIf="!id[0].title" formControlName="title"></ion-input>
            <ion-input *ngIf="id[0].title" value="{{id[0].title}}" formControlName="title"></ion-input>
        </ion-item>
    </form>
    <ckeditor [(ngModel)]="ckeditorContent" [readonly]="false" (change)="onChange($event, myForm.value)">
    </ckeditor>
    <button *ngIf="idd" ion-button block (click)="navigateToSecondPage()">Finish</button>
    <button *ngIf="id && !idd" ion-button block (click)="navigateToSecondPage()">Finish</button>
</ion-content>