<ion-content *ngIf="activeuser&&showContent" style="background-color:#2e2f92;overflow: hidden;" scroll="false" no-padding>
    <ion-navbar hideBackButton style="background-size: cover;
                background-position: center;
                overflow: hidden;
                background-color:#2e2f92;">
        <button ion-fixed style="margin:0px; top:9px;position:absolute;" ion-button clear menuToggle>
                        <ion-icon color="light" item-start name="menu"></ion-icon>
                </button>
        <img *ngIf="!photo" style="width:100px;height:100px;border-radius: 80%;margin-top:5px;margin-left:35%" src="http://193.226.9.153/profilelogo.png" />
        <div *ngIf="photo" class="image-cropper">
            <img class="img" src="http://193.226.9.153/upload/{{photo}}" />
        </div>
        <p text-center text-wrap style="white-space: pre-line;color:white">
            {{userData.data}}
        </p>
    </ion-navbar>
    <super-tabs indicatorColor="light" badgeColor="light" toolbarColor="light">
        <super-tab [root]="rootOrar" title="Orar" icon="md-calendar"></super-tab>
        <super-tab [root]="rootNote" title="Note" icon="school"></super-tab>
        <super-tab [root]="rootSetari" title="Setari" icon="settings"></super-tab>
    </super-tabs>
    <super-tabs *ngIf="userData.right == 1 || userData.right == 2" indicatorColor="light" badgeColor="light" toolbarColor="light">
        <super-tab [root]="rootSetari" title="Setari"></super-tab>
    </super-tabs>

    <!--
    <button ion-button color="light" (click)="showForm()" block>
           <p style="color:#2e2f92">  I want to change my password </p>
        </button>

    <form *ngIf="show" scroll="false" [formGroup]="myForm" (ngSubmit)="resetPassowrd()" padding>

        <ion-list>
            <ion-item>
                <ion-label floating>
                    <p> Parola curenta </p>
                </ion-label>
                <ion-input type="password" value="" formControlName="curentpass" placeholder=""></ion-input>
            </ion-item>
            <ion-item>
                <div class="spacer" style="height: 2px;"></div>
                <ion-label floating>
                    <p>Noua parola</p>
                </ion-label>
                <ion-input type="password" value="" formControlName="pass" placeholder=""></ion-input>
            </ion-item>
            <ion-item>
                <div class="spacer" style="height: 2px;"></div>
                <ion-label floating>
                    <p>Repeta parola</p>
                </ion-label>
                <ion-input type="password" value="" formControlName="repetpass" placeholder=""></ion-input>
            </ion-item>
            <ion-input [hidden]="true"></ion-input>
        </ion-list>
        <div class="spacer" style="height:30px;" id="login-spacer1"></div>
        <button ion-button color="light" block>
              <p > Reset password </p>
            </button>

    </form>
    <button ion-button color="light" (click)="logout()" block>
        <p style="color:#2e2f92"> Logout </p>

        </button>-->
</ion-content>

<ion-content *ngIf="!activeuser&&showContent" class="page-popup-fab">

    <!-- <ion-slides pager="true" (ionSlideWillChange)="onSlideChangeStart($event)">

        <ion-slide *ngFor="let slide of slides">
            <button style="margin-top:3%;right:3%;position:absolute" text-end ion-button icon-end small clear (click)="startApp()">
                        Skip  
                    <ion-icon name="arrow-forward"></ion-icon>
                </button>
            <img [src]="slide.image" class="slide-image" />
            <h2 class="slide-title" [innerHTML]="slide.title"></h2>
            <p [innerHTML]="slide.description"></p>
        </ion-slide>
        <ion-slide>

            <img src="assets/ica-slidebox-img-4.png" class="slide-image" />
            <h2 class="slide-title">Are you ready to play?</h2>
            <button ion-button icon-end large clear (click)="startApp()">
                Continua  
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </ion-slide>
    </ion-slides> -->

    <ion-card>
        <img src="assets/s1_b.png">
        <h1 color="light">Let's take a look</h1>
    </ion-card>
    <ion-fab right bottom middle>
        <button class="pop-in" [ngClass]="{ 'expand' : expanded, 'contract': contracted }" ion-fab mini (click)="expand()">
          <ion-icon [hidden]="!showIcon" name="ios-arrow-forward"></ion-icon>
        </button>
    </ion-fab>

</ion-content>