<!-- <ion-content>
    <ion-toolbar>
        <ion-segment color="light" [(ngModel)]="zile">
            <ion-segment-button style="font:12px !important;" value="Luni">
                Luni
            </ion-segment-button>
            <ion-segment-button value="Marti">
                Marti
            </ion-segment-button>
            <ion-segment-button value="Miercuri">
                Miercuri
            </ion-segment-button>
            <ion-segment-button value="Joi">
                Joi
            </ion-segment-button>
            <ion-segment-button value="Vineri">
                Vineri
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
    <div [ngSwitch]="zile">
        <ion-list *ngSwitchCase="'Luni'">
            <ion-title>Luni</ion-title>

            <div text-center *ngFor="let orarLuni of luni">
                <div *ngIf="orarLuni.zi != 'c' ">
                    {{orarLuni.zi}}
                    <ion-row *ngIf="orarLuni.info != '' ">
                        <ion-col style="font:25px;">
                            <b> {{orarLuni.time}} </b>
                        </ion-col>
                        <ion-col>
                            {{orarLuni.info}}
                        </ion-col>
                    </ion-row>
                    <hr>
                </div>
                <div *ngIf="orarLuni.zi == 'c' ">
                    <ion-row *ngIf="orarLuni.info != '' ">
                        <ion-col>
                            <b> {{orarLuni.time}} </b>
                        </ion-col>
                        <ion-col>
                            {{orarLuni.info}}
                        </ion-col>
                    </ion-row>
                    <hr>

                </div>
            </div>
        </ion-list>
        <ion-list *ngSwitchCase="'Marti'">

            <div text-center *ngFor="let orarMarti of marti">
                <div *ngIf="orarMarti.zi != 'c' ">
                    {{orarMarti.zi}}
                    <ion-row *ngIf="orarMarti.info != '' ">
                        <ion-col>
                            {{orarMarti.time}}
                        </ion-col>
                        <ion-col>
                            {{orarMarti.info}}
                        </ion-col>
                    </ion-row>
                </div>
                <div *ngIf="orarMarti.zi == 'c' ">
                    <ion-row *ngIf="orarMarti.info != '' ">
                        <ion-col>
                            {{orarMarti.time}}
                        </ion-col>
                        <ion-col>
                            {{orarMarti.info}}
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </ion-list>
        <ion-list *ngSwitchCase="'Miercuri'">
            <ion-item>
                <h2>Miercuri</h2>
            </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'Joi'">
            <ion-item>
                <h2>Joi</h2>
            </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'Vineri'">
            <ion-item>
                <h2>Vineri</h2>
            </ion-item>
        </ion-list>
    </div>
</ion-content> -->
<ion-content>
    <br><br>
    <button ion-button full (click)="showOrar()">Orar</button>

</ion-content>