<ion-content>
    <ion-toolbar>
        <ion-segment [(ngModel)]="pet">
            <ion-segment-button value="note">
                Note
            </ion-segment-button>
            <ion-segment-button value="studiu">
                Contract studiu
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
    <div [ngSwitch]="pet">
        <div *ngSwitchCase="'note'">
            <br>
            <div *ngFor="let s of sem;">
                <accordion-list hasMargin="true" title="Semestrul {{s.sem}}, An {{s.an}}" headerColor="white">
                    <div *ngFor="let key of userKeyAndValNote">
                        <div *ngIf="s.sem ==key.Semestrul">
                            <accordion-list hasMargin="true" style="font-size:10px!important; " title="{{key.value}} 
                            Nota Finala : {{key.materie.NF}}" headerColor="white">
                                <ion-row padding-horizontal class="label">
                                    <ion-col col-4>
                                        Materie:
                                    </ion-col>
                                    <ion-col col-8 text-wrap style="white-space: pre-line; text-align: left">
                                        {{key.value}}
                                    </ion-col>
                                </ion-row>
                                <ion-row padding-horizontal class="label">
                                    <ion-col col-4>
                                        Forma evaluare:
                                    </ion-col>
                                    <ion-col col-8>
                                        {{key.materie.Forma_ev}}
                                    </ion-col>
                                </ion-row>
                                <ion-row padding-horizontal class="label">
                                    <ion-col col-4>
                                        Credite:
                                    </ion-col>
                                    <ion-col col-8>
                                        {{key.materie.Credite}}
                                    </ion-col>
                                </ion-row>
                                <ion-row padding-horizontal class="label">
                                    <ion-col col-4>
                                        Programarea 1:
                                    </ion-col>
                                    <ion-col col-8>
                                        {{key.materie.Prog1}}
                                    </ion-col>
                                </ion-row>
                                <ion-row padding-horizontal class="label">
                                    <ion-col col-4>
                                        Programarea 2:
                                    </ion-col>
                                    <ion-col col-8>
                                        {{key.materie.Prog2}}
                                    </ion-col>
                                </ion-row>
                                <ion-row padding-horizontal class="label">
                                    <ion-col col-4>
                                        Programarea 3:
                                    </ion-col>
                                    <ion-col col-8>
                                        {{key.materie.Prog3}}
                                    </ion-col>
                                </ion-row>
                                <ion-row padding-horizontal class="label">
                                    <ion-col col-4>
                                        NP:
                                    </ion-col>
                                    <ion-col col-8>
                                        {{key.materie.NP}}
                                    </ion-col>
                                </ion-row>
                                <ion-row padding-horizontal class="label">
                                    <ion-col col-4>
                                        <b>NF:</b>
                                    </ion-col>
                                    <ion-col col-8>
                                        {{key.materie.NF}}
                                    </ion-col>
                                </ion-row>
                                <ion-row padding-horizontal class="label">
                                    <ion-col col-4>
                                        <b>Taxa:</b>
                                    </ion-col>
                                    <ion-col col-8>
                                        {{key.materie.Taxa}}
                                    </ion-col>
                                </ion-row>
                                <ion-row padding-horizontal class="label">
                                    <ion-col col-4>
                                        <b>Semestrul:</b>
                                    </ion-col>
                                    <ion-col col-8>
                                        {{key.materie.Semestru}}
                                    </ion-col>
                                </ion-row>
                                <ion-row padding-horizontal class="label">
                                    <ion-col col-4>
                                        <b>An:</b>
                                    </ion-col>
                                    <ion-col col-8>
                                        {{key.materie.An}}
                                    </ion-col>
                                </ion-row>
                            </accordion-list>
                        </div>
                    </div>
                </accordion-list>
            </div>
        </div>
        <div *ngSwitchCase="'studiu'">
            <ion-list no-border>
                <ion-row padding-horizontal class="label">
                    <ion-col col-6>
                        Anul:
                    </ion-col>
                    <ion-col col-6>
                        {{an}}
                    </ion-col>
                </ion-row>
                <ion-row padding-horizontal class="label">
                    <ion-col col-6>
                        Total credite:
                    </ion-col>
                    <ion-col col-6>
                        {{totalCredite}}
                    </ion-col>
                </ion-row>
                <ion-row padding-horizontal class="label">
                    <ion-col col-6>
                        Total plata:
                    </ion-col>
                    <ion-col col-6>
                        {{totalPlata || 0}} RON
                    </ion-col>
                </ion-row>
                <div *ngFor="let key of userKeyAndVal">
                    <accordion-list hasMargin="true" title="{{key.value}}" headerColor="white">
                        <ion-row padding-horizontal class="label">
                            <ion-col col-4>
                                Materie:
                            </ion-col>
                            <ion-col col-8 text-wrap style="white-space: pre-line; text-align: left">
                                {{key.value}}
                            </ion-col>
                        </ion-row>
                        <ion-row padding-horizontal class="label">
                            <ion-col col-4>
                                Forma evaluare:
                            </ion-col>
                            <ion-col col-8>
                                {{key.materie.Forma_ev}}
                            </ion-col>
                        </ion-row>
                        <ion-row padding-horizontal class="label">
                            <ion-col col-4>
                                Ore curs:
                            </ion-col>
                            <ion-col col-8>
                                {{key.materie.Ore_curs}}
                            </ion-col>
                        </ion-row>
                        <ion-row padding-horizontal class="label">
                            <ion-col col-4>
                                Ore laborator:
                            </ion-col>
                            <ion-col col-8>
                                {{key.materie.Ore_laborator}}
                            </ion-col>
                        </ion-row>
                        <ion-row padding-horizontal class="label">
                            <ion-col col-4>
                                Ore proiect:
                            </ion-col>
                            <ion-col col-8>
                                {{key.materie.Ore_proiect}}
                            </ion-col>
                        </ion-row>
                        <ion-row padding-horizontal class="label">
                            <ion-col col-4>
                                Total ore:
                            </ion-col>
                            <ion-col col-8>
                                {{key.materie.Total_ore}}
                            </ion-col>
                        </ion-row>
                    </accordion-list>
                </div>
            </ion-list>
        </div>
    </div>
</ion-content>