page-viewpage {}

.toast {
    text-align: center;
    width: 90%;
    margin-left: 5%;
    >div {
        background-color: #E8EAF6 !important;
        -webkit-animation-name: example;
        width: 70%;
        -webkit-animation-duration: 1s;
        border-radius: 15px;
        animation-name: example;
        animation-duration: 1s;
    }
}

@-webkit-keyframes example {
    from {
        background-color: #E8EAF6;
    }
    to {
        background-color: #2e2f92
    }
}


/* Standard syntax */

@keyframes example {
    from {
        background-color: #E8EAF6 #2e2f92;
    }
    to {
        background-color: #2e2f92
    }
}