page-note {
    .grid {
        background-color: #2e2f92;
        color: white;
        border: 1;
    }
    .col {
        border: black;
    }
    ion-segment-button {
        font-size: 1.2rem !important;
        background-color: #E8EAF6 !important;
        color: #2e2f92 !important;
    }
}