<ion-header>
    <ion-navbar>
        <button large ion-fixed style="margin:0px; position:absolute;" ion-button clear menuToggle>
                    <ion-icon color="light" item-start name="menu"></ion-icon>
            </button>
        <ion-title text-center>
            Harta campusului
        </ion-title>
        <ion-buttons [hidden]="(switch == 'list')" end>
            <button ion-button icon-only (click)='toggleSearch()'>
        <ion-icon name="search"></ion-icon>
      </button>
            <button ion-button icon-only (click)='loadSetGoogle()'>
        <ion-icon name="ios-locate-outline"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
    <ion-navbar *ngIf="!myLocation" [hidden]="(switch == 'list')">
        <ion-item color="primary">
            <ion-label> Nearby places</ion-label>
            <ion-select [(ngModel)]="os" submitText="Okay" cancelText="Nah" (ionChange)="searchPlaces(os)">
                <ion-option value="store">Store</ion-option>
                <ion-option value="atm">ATM</ion-option>
                <ion-option value="transit_station">Transit station</ion-option>
                <ion-option value="restaurant">Restaurant</ion-option>

            </ion-select>
        </ion-item>
    </ion-navbar>
</ion-header>
<div class="switch">
    <button ion-button color="light" (click)="(switch = 'map');  resizeMap()" [class.active]="(switch == 'map')" icon-only><ion-icon name="map"></ion-icon></button>
    <button ion-button color="light" (click)="(switch = 'list');" [class.active]="(switch == 'list')" icon-only><ion-icon name="list"></ion-icon></button>
</div>
<ion-content class="a">
    <div [hidden]="!(switch == 'list')">
        <ion-list *ngFor="let location of regionals">
            <ion-item>
                <ion-row>
                    <ion-col>
                        <h2 text-center text-wrap style="white-space: normal;">{{location.title}}</h2>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col text-center text-wrap style="white-space: normal;">

                        <button text-capitalize ion-button clear small color="primary" (click)="(switch = 'map'); openLocation(location);"> Map<br> </button>
                    </ion-col>
                    <ion-col *ngIf="location.website != ''" text-center text-wrap style="white-space: normal;">

                        <button text-capitalize ion-button clear small color="primary" (click)="openBrowser(location.website);"> Website<br></button>
                    </ion-col>

                    <ion-col text-center text-wrap style="white-space: normal;">

                        <button text-capitalize [disabled]=myLocation (click)="openNavigator(location);" ion-button clear small color="primary">  Navigator<br></button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col text-center>
                        <button ion-button clear small color="primary" (click)="(switch = 'map'); openLocation(location);">   <ion-icon color="primary" name="pin"></ion-icon> </button>
                    </ion-col>
                    <ion-col *ngIf="location.website != ''" text-center>
                        <button ion-button clear small color="primary" (click)="openBrowser(location.website);"> <ion-icon color="primary" name="browsers"></ion-icon> </button>
                    </ion-col>
                    <ion-col text-center>
                        <button [disabled]=myLocation (click)="openNavigator(location);" ion-button clear small color="primary">  <ion-icon color="primary" name="navigate"></ion-icon></button>
                    </ion-col>
                </ion-row>
            </ion-item>
            <hr hidden>
        </ion-list>
    </div>
    <div class=" map " style="height:100% " [class.hidemap]="!((switch=='map' ) || error) ">
        <ion-searchbar class={{mytheme}} #searchbar placeholder="Cauta " [hidden]="!search "></ion-searchbar>
        <div id="map " #map style="height:100%; ">
        </div>
    </div>

</ion-content>