<!--
  Generated template for the ConducereUpt page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content>
    <p padding text-center text-wrap style="white-space: normal;">
        Universitatea este condusă de Consiliul de Administraţie şi Senatul Universităţii. Consiliul de Administraţie este alcătuit din Rector, Prorectori şi Decanii facultăţilor şi este cel care asigură conducerea administrativă a universităţii. Senatul Universităţii
        este alcătuit din 68 cadre didactice şi studenţi.
    </p>
    <hr>
    <ion-list>

        <ion-item text-center *ngFor="let data of all">
            <div text-center>
                <img style="margin-left:10px !important;" src="http://193.226.9.153/images/{{data.image}}">
            </div>
            <h2 text-center text-wrap style="white-space: normal;"><b></b>{{data.functie}}</h2>
            <h4 text-center text-wrap style="white-space: normal;"><b></b>{{data.nume}}</h4>
            <div text-center>
                <button (click)='toggle(data.nume)' clear ion-button icon-only>
                <ion-icon [name]="!data.show ? 'ios-arrow-dropdown-outline' : 'ios-arrow-dropup-outline'"></ion-icon>
            </button>
            </div>
            <div *ngIf="data.show">
                <p text-center text-wrap style="white-space: normal; "><b>Adresa: </b>{{data.adresa}}</p>
                <p *ngIf='data.resort' text-center text-wrap style="white-space: normal;"><b>Resort: </b>{{data.resort}}</p>
                <p text-center text-wrap style="white-space: normal;"><b>Tel/Fax: </b>{{data.telfax}}</p>
                <p text-center text-wrap style="white-space: normal;"><b>E-mail: </b>{{data.email}}</p>
            </div>
        </ion-item>
    </ion-list>
</ion-content>