<ion-content>
    <ion-list>

        <ion-grid>
            <ion-row>
                <ion-col col-2>
                    <div class="image-cropper">
                        <img [src]="user.imageUrl ? user.imageUrl : placeholderPicture" class="img" [hidden]="lastImage">
                    </div>
                </ion-col>
                <ion-col col-10>
                    <p>{{userData.data}}</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <button ion-button icon-left full (click)="presentActionSheet()">
                        <ion-icon name="add"></ion-icon>Change photo
                    </button>
                </ion-col>
                <ion-col>
                    <button ion-button icon-left full (click)="uploadImage()" [disabled]="lastImage === null">
                        <ion-icon name="cloud-upload"></ion-icon>Upload
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>

    </ion-list>
    <ion-list no-border>
        <ion-list-header>
            General
        </ion-list-header>
        <!-- <ion-item>
            <ion-icon name='settings' item-start></ion-icon>
            <ion-label>App Language</ion-label>
            <ion-select [(ngModel)]="language">
                <ion-option *ngFor="let language of languages" [value]="language">{{language}}</ion-option>
            </ion-select>
        </ion-item> -->

        <div *ngFor="let key of userKeyAndVal">
            <ion-row padding-horizontal class="label" *ngIf="key.value==''">
                <ion-col col-6>
                    {{key.key}}:
                </ion-col>
                <ion-col col-6>
                    ---
                </ion-col>
            </ion-row>
            <ion-row padding-horizontal class="label" *ngIf="key.value">
                <ion-col col-6>
                    {{key.key}}:
                </ion-col>
                <ion-col col-6>
                    {{key.value}}
                </ion-col>
            </ion-row>
        </div>

    </ion-list>
    <ion-item>

        <ion-toggle [(ngModel)]="enableNotifications" (click)="toggleNotifications()"></ion-toggle>
        <ion-label class="label"> Enable notifications </ion-label>
        <ion-icon name='notifications' item-start></ion-icon>


    </ion-item>
    <!-- <ion-list>
        <ion-list-header>
            Currency
        </ion-list-header>
        <ion-item>
            <ion-icon name='card' item-start></ion-icon>
            <ion-label>Payment Method</ion-label>
            <ion-select [(ngModel)]="paymentMethod">
                <ion-option *ngFor="let method of paymentMethods" [value]="method">{{method}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-icon name='logo-usd' item-start></ion-icon>
            <ion-label>Currency</ion-label>
            <ion-select [(ngModel)]="currency">
                <ion-option *ngFor="let currency of currencies" [value]="currency">{{currency}}</ion-option>
            </ion-select>
        </ion-item>
    </ion-list> -->
    <ion-list padding>
        <ion-list-header>
            Other
        </ion-list-header>
        <!-- <ion-icon name='power' item-start></ion-icon> -->
        <button ion-button block padding (click)="logOut()">
                 Logout
            </button>
    </ion-list>
</ion-content>