<ion-content *ngIf="!userToken">
    <ion-list>
        <ion-grid>
            <ion-row>
                <ion-col col-2>
                    <img *ngIf="!photo" style="width:50px;height:50px;border-radius: 80%;margin-top:5px;" src="http://193.226.9.153/profilelogo.png" />
                    <div *ngIf="photo" class="image-cropper">
                        <img src="http://193.226.9.153/upload/{{photo}}" />
                    </div>
                </ion-col>
                <ion-col col-10>
                    <p>{{userData.data}}</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <button ion-button icon-left full round (click)="presentActionSheet()">
                        <ion-icon name="add"></ion-icon>Change photo
                    </button>
                </ion-col>
                <ion-col>
                    <button ion-button icon-left full round (click)="uploadImage()" [disabled]="lastImage === null">
                        <ion-icon name="cloud-upload"></ion-icon>Upload
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>
    <ion-item>
        <ion-toggle [(ngModel)]="enableNotifications" [(ngModel)]="enableNotifications" (ionChange)="toggleNotifications()"></ion-toggle>
        <ion-label class="label"> Enable notifications </ion-label>
        <ion-icon name='notifications' item-start></ion-icon>
    </ion-item>
    <ion-list padding>
        <ion-list-header>
            Other
        </ion-list-header>
        <button ion-button round block padding (click)="logOut()">
                 Logout
            </button>
    </ion-list>
    <ion-list no-border>
        <ion-list-header>
            General
        </ion-list-header>
        <div *ngFor="let key of userKeyAndVal">
            <ion-row padding-horizontal class="label" *ngIf="key.value==''">
                <ion-col col-6>
                    {{key.key}}:
                </ion-col>
                <ion-col col-6>
                    ---
                </ion-col>
            </ion-row>
            <ion-row padding-horizontal class="label" *ngIf="key.value">
                <ion-col col-6>
                    {{key.key}}:
                </ion-col>
                <ion-col col-6>
                    {{key.value}}
                </ion-col>
            </ion-row>
        </div>
    </ion-list>
</ion-content>
<ion-content *ngIf="userToken">
    <ion-row>
        <ion-col col-2>
            <img *ngIf="!photo" style="width:50px;height:50px;border-radius: 80%;margin-top:5px;" src="http://193.226.9.153/profilelogo.png" />
            <div *ngIf="photo" class="image-cropper">
                <img src="http://193.226.9.153/upload/{{photo}}" />
            </div>
        </ion-col>
        <ion-col col-10>
            <p>{{userData.data}}</p>
        </ion-col>
    </ion-row>
    <ion-list padding>
        <ion-list-header>
            Other
        </ion-list-header>
        <button ion-button round block padding (click)="logOut()">
                 Logout
            </button>
    </ion-list>
</ion-content>